/*
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
 */
html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #000 url(../img/header-bg.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    min-height: 100vh;
}
.header__title {
    font-family: 'Roboto', sans-serif;
    font-size: 57px;
    line-height: 67px;
    text-align: center;
    letter-spacing: 0.81px;
    color: #FFFFFF;
    margin: 0;
}
.header__subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.44px;
    color: #FFFFFF;
    margin: 33px 0 60px;
}
.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 450px;
    width: 100%;
}
.header__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    color: #FFFFFF;
    min-width: 215px;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px 0 ;
}
